<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /
		
	RewriteCond %{REQUEST_URI}                    termekek$
	RewriteRule ^termekek$        termekcategorylist.php
		
	RewriteCond %{REQUEST_URI}                    termekek/([a-zA-Z0-9_-]+)$
	RewriteRule ^termekek/([a-zA-Z0-9_-]+)$        termekcategory.php?category=$1
	
	RewriteCond %{REQUEST_URI}                    termekek/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$
	RewriteRule ^termekek/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$        termek.php?category=$1&product=$2
</IfModule>	
